<!DOCTYPE html>
<html>
<head>
    <title>Show Book</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1><%= book.title %></h1>
    <p>Author: <%= book.author %></p>
    <p>Genre: <%= book.genre %></p>
    <p>Publication Year: <%= book.publicationYear %></p>
    <p>Price: <%= book.price %></p>
    <p>Book Title: <%= book.bookTitle %></p>
    <a href="/book">Back to All Books</a>
</body>
</html>