<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Instrument</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div class="card">
        <h1>Instrument Details</h1>
        <p>Type: <%= instrument.type %></p>
        <p>Brand: <%= instrument.brand %></p>
        <p>Instrument Name: <%= instrument.instrumentName %></p>
        <p>Price: <%= instrument.price %></p>
        <p>Sound Quality: <%= instrument.soundQuality %></p>
        <a href="/instruments" class="button-link">Back to list</a>
    </div>
</body>
</html>
